*{
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url(Bildmaterial/Hintergrund_Mappe/R1-06079-0012-3.jpg);
    background-color: #000012;
}

html{
    scroll-snap-type0: y proximity;
}

header {
    background-image: url(Bildmaterial/Hintergrund_Mappe/R1-06079-0012-3.jpg);
    background-size: cover;
    height: 100vh;
    color: lightblue;
    padding: 0px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    font-size: 5vw;
}
.Projekte{
    background-color: darkgoldenrod;
    text-align: center;
    height: 100vh;

}

.grid{
    width: 100vw;
    display: grid;
    grid-template-columns: 33% 33% 33%;
        
    
}
section {
    width: 33vw;
    height: 33vh;
    color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section div{

}

section video{
}
section video:hover{
}
footer {
    background-color: #333;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;

}
